html,
body {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif !important;
  font-size: 16px;
  margin: 0;
  position: relative;
  height: 100vh;
  box-sizing: border-box !important;
}

.logout {
  background: #000000;
}

p {
  margin: 0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1a0613;
  padding: 12px 20px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  height: 50px;
  gap: 20px;
}

.navbar .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  pointer-events: none;
}

.navbar .logo-icon {
  font-size: 20px;
}

.navbar .logo-text {
  font-weight: 600;
  font-size: 1.5rem;
  color: white;
}

.navbar .menu-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

header .logout-button {
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 8px 20px;
  background-color: #ffffff;
  border: 0;
  font-size: 1rem;
}

header .logout-button:hover {
  cursor: pointer;
}

header .logout-button:active {
  background-color: #b7b7b7;
}

.messages {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 196px);
  max-width: 870px;
  margin: 0 auto;
  padding-bottom: 60px;
  overflow-y: auto;
  position: relative;
}

.start-conversation-time {
  text-align: center;
  color: #666668;
}

.message-control {
  border: 0;
  background: none;
}

.message-control .options-wrapper,
.menu-control {
  font-size: 1rem;
  width: 150px;
  position: fixed;
  border: 1px solid #193b670d;
  padding: 10px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 0 12px #00000050;
  transform: translateX(-90%);
}

.options-wrapper,
.menu-control {
  display: none;
}

.options-wrapper.active,
.menu-control.active {
  display: block;
}

.menu-button ul,
.options-wrapper ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.options-wrapper ul li,
.option-wrapper,
.menu-control li {
  margin: 10px;
  padding: 5px 0;
  text-align: left;
}

.options-wrapper ul li:hover {
  cursor: pointer;
  background-color: #f7f7f7;
}

.message {
  margin-top: 20px;
  width: 50%;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
  font-size: 1rem;
  font-weight: 700;
}

.message-control {
  font-size: 1.5rem;
}

.message-mine {
  position: relative;
  left: 50%;
}

.message-text {
  position: relative;
  border: 1px solid #160211;
  border-radius: 8px;
  padding: 10px;
  background-color: #ffffff;
}

.send-time {
  color: #56637e;
}

.new-message-wrapper {
  position: fixed;
  bottom: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.message-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  height: 60px;
  max-width: 870px;
  border: 1px solid #160211;
  border-radius: 8px;
  background-color: #ffffff !important;
  margin: 0 auto;
}

.hide-message-form {
  display: none;
}

.message-form button {
  background-color: #ffffff;
  border: none;
  border-radius: 8px;
}

.message-form button img {
  width: 30px;
}

.message-form textarea {
  width: 100%;
  height: 50px;
  padding: 2px 8px;
  border-radius: 8px;
  border: 0;
  resize: none;
  font-family: "Inter", sans-serif;
  line-height: 50px;
}

.message-form textarea::placeholder {
  font-family: "Inter", sans-serif;
  line-height: 50px;
}

.message-form textarea:focus {
  outline: none;
}

.ellipse1 {
  position: fixed;
  width: 414px;
  height: 414px;
  top: 551px;
  left: 40%;
  background-color: #ff86e1;
  border-radius: 50%;
  filter: blur(300px);
  z-index: -1;
}

.ellipse2 {
  position: fixed;
  width: 280px;
  height: 280px;
  top: 501px;
  left: 50%;
  background-color: #89bcff;
  border-radius: 50%;
  filter: blur(150px);
  z-index: -1;
}

.login-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.login-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.login-logo .logo-icon {
  color: #ffffff;
  height: 100px;
}

.login-logo .logo-text {
  color: #ffffff;
  font-size: 3rem;
}

.login-form {
  padding: 40px;
  background-color: white;
  border-radius: 8px;
  z-index: 2;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 300px;
}

.login-form label {
  color: #676060;
  font-size: 0.8rem;
}

.login-form textarea {
  border: 0;
  background-color: #e8e8e8;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
  resize: none;
}

.login-form .join {
  border: 0;
  border-radius: 4px;
  background-color: #000000;
  color: #ffffff;
  padding: 10px;
  font-size: 1rem;
  margin-top: 10px;
}

.ellipse3 {
  position: fixed;
  width: 540px;
  height: 414px;
  top: 551px;
  left: 30%;
  background-color: #ff00c0;
  border-radius: 50%;
  filter: blur(300px);
  z-index: -1;
}

.ellipse4 {
  position: fixed;
  width: 400px;
  height: 300px;
  top: 501px;
  left: 50%;
  background-color: #006fff;
  border-radius: 50%;
  filter: blur(200px);
  z-index: -1;
}
